__pycache__/
*.py[cod]
*$py.class
*.pkl
*.so

venv/
env/
ENV/
.venv/
.ENV/

.vscode/
.idea/

.DS_Store

.ipynb_checkpoints

*.log

.pytest_cache/

build/
dist/
*.egg-info/
.eggs/

.mypy_cache/

Pipfile.lock

*.sqlite3

.env

*.nbmetadata

*.swp
*.bak
*.tmp
